/jnr-jnr-ffi-0.5.10-0-g103ea1a.tar.gz
/jnr-jnr-ffi-0.7.10-0-gf28dc0a.tar.gz
/jnr-ffi-2.0.1-1.fc20.src.rpm
/jnr-ffi-2.0.1.zip
/2.0.2.tar.gz
/2.0.3.tar.gz
/2.0.4.tar.gz
/2.0.6.tar.gz
/jnr-ffi-2.0.9.tar.gz
/jnr-ffi-2.1.2.tar.gz
